/* For phones small to large */
#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#advertisement {
  display: none;
}

#blocks {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 95%;
  align-items: center;
}
#blocks div {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

#blocks img {
  width: 100%;
  height: 100%;
}

#blocks p {
  width: 100%;
  text-align: center;
}
